Repository implerhq/impler.io, pull requests merged in 2024-09, with the labels that each got.

#768 UX improvements
  apps/web/components/UpgradePlan/Plans/Plans.tsx
  apps/web/components/guide-point/TooltipLabel.tsx
  apps/web/components/guide-point/TooltipLink.tsx
  apps/web/components/guide-point/index.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/imports/destination/DestinationItem/DestinationItem.tsx
  apps/web/components/imports/editor/Editor.tsx
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/web/components/imports/validator/Validator.tsx
  apps/web/components/settings/AddCard/Coupon/Coupon.tsx
  apps/web/components/settings/AddCard/PaymentMethods/PaymentMethodOption.tsx
  apps/web/components/settings/AddCard/PaymentMethods/PaymentMethods.tsx
  apps/web/components/settings/AddCard/SelectCardModal.tsx
  apps/web/components/settings/SettingsTab.tsx
  apps/web/components/signin/OnboardUserForm.tsx
  apps/web/components/signin/index.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/custom-select/CustomSelect.tsx
  apps/web/design-system/password-input/PasswordInput.tsx
  apps/web/hooks/auth/useRequestForgotPassword.tsx
  apps/web/hooks/auth/useSignup.tsx
  apps/web/hooks/auth/useVerify.tsx
  apps/web/layouts/OnboardLayout/OnboardLayout.tsx
  apps/web/libs/amplitude.ts
  apps/web/pages/auth/reset/[token].tsx
  apps/web/pages/auth/reset/request.tsx
  apps/web/pages/auth/signup.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/pages/index.tsx
  apps/web/pages/settings/index.tsx
  apps/widget/src/components/widget/Phases/Phase0-1/Phase0-1.tsx
  apps/widget/src/config/variable.config.ts
  apps/widget/src/hooks/Phase0-1/usePhase01.ts
  apps/widget/src/hooks/Phase1/usePhase1.ts
Labels: impler/api, impler/web, impler/widget

#776 Release/v0.24.1
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#778 Fix Onboarding Page typo and SDK documentation improvements
  apps/web/components/signin/OnboardUserForm.tsx
  apps/web/config/constants.config.ts
  packages/angular/README.md
  packages/react/README.md
Labels: impler/web

#779 `fix:` typo in onboard form
  apps/web/components/signin/OnboardUserForm.tsx
Labels: impler/web

#782 `feat:` Find & Replace
  apps/api/src/app/review/dtos/index.ts
  apps/api/src/app/review/dtos/replace.dto.ts
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/review/usecases/index.ts
  apps/api/src/app/review/usecases/replace/replace.command.ts
  apps/api/src/app/review/usecases/replace/replace.usecase.ts
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/components/widget/modals/FindReplace/FindReplaceModal.tsx
  apps/widget/src/components/widget/modals/FindReplace/index.ts
  apps/widget/src/design-system/Button/Button.tsx
  apps/widget/src/design-system/Select/Select.styles.ts
  apps/widget/src/design-system/Select/Select.tsx
  apps/widget/src/global.d.ts
  apps/widget/src/hooks/Phase1/usePhase1.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  libs/shared/src/config/texts.config.ts
  libs/shared/src/entities/Review/Review.interface.ts
  packages/client/src/api/api.service.ts
Labels: impler/api, impler/web, impler/widget

#784 `feat:` Updated client package import in libs/shared
  libs/shared/package.json
  pnpm-lock.yaml
Labels: impler/web

#785 `fix:` Build error for web
  apps/web/Dockerfile
Labels: impler/web

#787 `fix:` multiselect data not getting transformed to array
  apps/queue-manager/src/consumers/send-import-job-data.consumer.ts
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
Labels: bug, impler/queue-manager

#788 `feat` replace update performance improvements
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/src/app/review/usecases/replace/replace.usecase.ts
  libs/dal/src/repositories/record/record.schema.ts
Labels: impler/api, impler/queue-manager

#789 `feat:` Made find & replace modal column select dropdown searable
  apps/widget/src/components/widget/modals/FindReplace/FindReplaceModal.tsx
  apps/widget/src/design-system/Select/Select.tsx
Labels: impler/widget

#790 `fix:` Added missing client package dependency in api and queue-manager
  apps/api/Dockerfile
  apps/queue-manager/Dockerfile
Labels: impler/api, impler/queue-manager

#791 Fix/auto import bad request exception
  apps/widget/src/components/widget/Phases/AutoImportPhases/hooks/AutoImportPhase2/useAutoImportPhase2.tsx
  apps/widget/src/components/widget/Widget.tsx
Labels: impler/widget

#792 `feat` add column improvements
  apps/web/components/import-feed/History.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/web/components/imports/schema/Schema.tsx
  apps/web/components/settings/GenerateAccessToken.tsx
  apps/web/hooks/useKeyboardEvent.tsx
  apps/web/hooks/useSchema.tsx
  apps/web/pages/imports/[id].tsx
Labels: impler/web

#793 `fix` replace in number leave import in middle
  apps/api/src/app/review/usecases/replace/replace.usecase.ts
  apps/widget/src/components/widget/Widget.tsx
Labels: impler/api, impler/widget

#794 `feat:` Applied sequence order in columns
  apps/api/src/app/review/usecases/replace/replace.usecase.ts
  apps/api/src/app/template/usecases/get-columns/get-columns.usecase.ts
Labels: impler/api

#798 `fix:` Excel data not getting populated
  apps/widget/src/hooks/Phase1/usePhase1.ts
Labels: impler/widget

#804 `fix` Validators error messages not showing properly
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
Labels: impler/api

#805 `feat` validators bugfix types addition
  apps/api/package.json
  apps/api/src/app/column/commands/add-column.command.ts
  apps/api/src/app/column/dtos/column-request.dto.ts
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/queue-manager/package.json
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/schema/ValidationsGroup.tsx
  apps/web/design-system/auto-height-component/AutoHeightComponent.tsx
  apps/web/design-system/validator/Validator.stories.tsx
  apps/web/design-system/validator/Validator.tsx
  apps/web/package.json
  apps/web/pages/imports/[id].tsx
  apps/widget/package.json
  libs/dal/package.json
  libs/services/package.json
  libs/shared/src/entities/Column/Column.interface.ts
  libs/shared/src/types/column/column.types.ts
  packages/angular/src/index.ts
  packages/client/src/types.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#806 `feat:` Amplitude Events
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/widget/public/index.html
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/config/variable.config.ts
  apps/widget/src/global.d.ts
  apps/widget/src/hooks/Phase0/usePhase0.ts
  apps/widget/src/hooks/Phase1/usePhase1.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/util/amplitude/index.ts
  apps/widget/src/util/api/api.service.ts
Labels: impler/widget

#807 v0.25.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#812 `feat:` Renamed validators to validations
  apps/api/src/app/column/commands/add-column.command.ts
  apps/api/src/app/column/dtos/column-request.dto.ts
  apps/api/src/app/common/dtos/Schema.dto.ts
  apps/api/src/app/common/usecases/valid-request/valid-request.usecase.ts
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/types/review.types.ts
  apps/api/src/app/template/dtos/duplicate-template-request.dto.ts
  apps/api/src/app/template/usecases/duplicate-template/duplicate-template.command.ts
  apps/api/src/app/template/usecases/duplicate-template/duplicate-template.usecase.ts
  apps/api/src/app/template/usecases/get-columns/get-columns.usecase.ts
  apps/api/src/app/template/usecases/update-template-columns/update-template-columns.usecase.ts
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/forms/DuplicateImportForm.tsx
  apps/web/components/imports/schema/ValidationsGroup.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/validation/MinMaxValidation.tsx
  apps/web/design-system/validation/UniqueWithValidation.tsx
  apps/web/design-system/validation/Validation.stories.tsx
  apps/web/design-system/validation/Validation.styles.tsx
  apps/web/design-system/validation/Validation.tsx
  apps/web/design-system/validation/index.ts
  apps/web/design-system/validator/Validator.stories.tsx
  apps/web/design-system/validator/index.ts
  apps/web/hooks/useColumnsEditor.tsx
  apps/web/hooks/useSubscriptionInfo.ts
  apps/web/types/global.d.ts
  libs/dal/src/repositories/column/column.entity.ts
  libs/dal/src/repositories/column/column.schema.ts
  libs/shared/src/entities/Column/Column.interface.ts
  libs/shared/src/types/column/column.types.ts
  packages/angular/README.md
  packages/angular/src/index.ts
  packages/client/src/types.ts
  packages/react/README.md
  packages/react/src/index.ts
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#813 `feat` data validation updates node updates
  apps/api/.mocharc.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
  tsconfig.base.json
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#814 `Release` v0.25.1
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#818 `Hotfix` rows count
  apps/api/package.json
  apps/api/src/app/project/usecases/get-imports/get-imports.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  pnpm-lock.yaml
Labels: impler/api
