Repository implerhq/impler.io, pull requests merged in 2024-06, with the labels that each got.

#621 Updated workflow trigger condition to run on trigger
  .github/workflows/deploy-quality.yaml
Labels: impler/api

#624 Coupon Code and Checkout Feature Implementation Added
  apps/api/src/app/user/usecases/apply-coupon/apply-coupon.usecase.ts
  apps/api/src/app/user/usecases/checkout/checkout.usecase.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/user/user.controller.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/settings/AddCard/AddCardModal.tsx
  apps/web/components/settings/AddCard/Coupon/Coupon.tsx
  apps/web/components/settings/AddCard/Coupon/index.ts
  apps/web/components/settings/AddCard/PaymentMethods/PaymentMethodOption.tsx
  apps/web/components/settings/AddCard/PaymentMethods/PaymentMethods.tsx
  apps/web/components/settings/AddCard/PaymentMethods/index.ts
  apps/web/components/settings/AddCard/SelectCardModal.tsx
  apps/web/components/settings/Checkout/CheckoutDetails.tsx
  apps/web/components/settings/Checkout/index.ts
  apps/web/components/settings/SelectCardModal/SelectCardModal.tsx
  apps/web/components/settings/SelectCardModal/index.ts
  apps/web/components/settings/UserCards.tsx
  apps/web/components/settings/index.ts
  apps/web/config/constants.config.ts
  apps/web/design-system/button/Button.styles.ts
  apps/web/design-system/button/Button.tsx
  apps/web/hooks/useCheckout.tsx
  apps/web/hooks/useCoupon.tsx
  apps/web/libs/api.ts
  apps/web/next.config.js
  apps/web/types/global.d.ts
  libs/shared/src/services/payment/payment.api.service.ts
  libs/shared/src/utils/helpers.ts
  packages/client/src/api/api.service.ts
Labels: impler/api, impler/web

#630 `feat:` Added formbricks sdk
  apps/web/.example.env
  apps/web/components/common/Support.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/types/global.d.ts
  pnpm-lock.yaml
Labels: impler/web
