Repository implerhq/impler.io, pull requests merged in 2024-10, with the labels that each got.

#819 feat: Added path as optional
  apps/api/src/app/import-jobs/dtos/update-jobmapping.dto.ts
  apps/api/src/app/import-jobs/usecase/create-jobmapping/create-jobmapping.command.ts
  libs/dal/src/repositories/jobmapping/jobmapping.entity.ts
Labels: impler/api, impler/widget

#826 `feat` importer settings
  apps/api/src/app/review/usecases/replace/replace.usecase.ts
  apps/widget/src/components/Common/Heading/Heading.tsx
  apps/widget/src/components/Common/Layout/Layout.tsx
  apps/widget/src/components/Common/Table/Table.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/hooks/DataGrid/useDataGrid.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/types/utility.types.ts
  packages/client/src/config/texts.config.ts
Labels: bug, citical, impler/api, impler/web, impler/widget

#827 `Release` v0.26.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#832 Feat/integrations
  apps/api/src/app/project/usecases/create-project/create-project.usecase.ts
  apps/api/src/app/template/dtos/create-template-request.dto.ts
  apps/api/src/app/template/dtos/template-response.dto.ts
  apps/api/src/app/template/dtos/update-template-request.dto.ts
  apps/api/src/app/template/template.controller.ts
  apps/api/src/app/template/usecases/create-template/create-template.command.ts
  apps/api/src/app/template/usecases/get-template-details/get-template-details.usecase.ts
  apps/api/src/app/template/usecases/update-template/update-template.command.ts
  apps/web/assets/icons/Angular.icon.tsx
  apps/web/assets/icons/Bubble.icon.tsx
  apps/web/assets/icons/Integration.icon.tsx
  apps/web/assets/icons/Javascript.icon.tsx
  apps/web/assets/icons/React.icon.tsx
  apps/web/components/Integration/ContentBlock.tsx
  apps/web/components/Integration/IntegrationData.tsx
  apps/web/components/Integration/IntegrationModal.tsx
  apps/web/components/Integration/IntegrationSelector.tsx
  apps/web/components/Integration/IntegrationTabs.style.ts
  apps/web/components/Integration/IntegrationTabs.tsx
  apps/web/components/Integration/ModifiedText.tsx
  apps/web/components/Integration/index.tsx
  apps/web/components/imports/forms/CreateImportForm.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/native-select/NativeSelect.styles.ts
  apps/web/design-system/native-select/NativeSelect.tsx
  apps/web/hooks/useImportDetails.tsx
  apps/web/hooks/useImports.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/imports/[id].tsx
  apps/web/types/global.d.ts
  libs/dal/src/repositories/template/template.entity.ts
  libs/dal/src/repositories/template/template.schema.ts
  libs/shared/src/entities/Template/Template.interface.ts
  libs/shared/src/types/template/template.types.ts
  pnpm-lock.yaml
Labels: impler/web

#834 `feat` streamline journey
  apps/api/package.json
  apps/api/src/app/review/review.module.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/api/src/app/shared/services/amplitude.service.ts
  apps/api/src/types/env.d.ts
  apps/web/components/Integration/IntegrationModal.tsx
  apps/web/hooks/useImportDetails.tsx
  apps/web/hooks/useImports.tsx
  apps/web/hooks/useOnboardUserProjectForm.tsx
  apps/web/hooks/useValidator.tsx
  apps/web/libs/amplitude.ts
  apps/web/pages/_app.tsx
  apps/web/pages/imports/[id].tsx
  pnpm-lock.yaml
Labels: impler/api, impler/web

#836 `feat` remove snippet
  apps/web/assets/icons/Five.icon.tsx
  apps/web/assets/icons/Four.icon.tsx
  apps/web/assets/icons/Integration.icon.tsx
  apps/web/assets/icons/One.icon.tsx
  apps/web/assets/icons/Three.icon.tsx
  apps/web/assets/icons/Two.icon.tsx
  apps/web/components/Integration/IntegrationData.tsx
  apps/web/components/imports/Snippet.tsx
  apps/web/config/constants.config.ts
  apps/web/pages/imports/[id].tsx
Labels: impler/web

#839 `feat` integrations improvements
  apps/web/components/Integration/ContentBlock.tsx
  apps/web/components/Integration/IntegrationModal.tsx
  apps/web/components/Integration/IntegrationSelector.tsx
  apps/web/components/Integration/IntegrationTabs.style.ts
  apps/web/components/Integration/IntegrationTabs.tsx
  apps/web/components/Integration/index.tsx
  apps/web/hooks/useImportDetails.tsx
  apps/web/pages/_app.tsx
Labels: impler/web

#838 `feat:` utilized exceljs to skip empty rows in file while counting
  apps/api/package.json
  apps/api/src/app/shared/services/file/file.service.ts
  pnpm-lock.yaml
Labels: impler/api

#840 `feat:` Rename feature
  apps/widget/src/components/Common/Heading/Heading.tsx
  apps/widget/src/components/widget/Phases/DirectEntryImport/DataGrid.tsx
  apps/widget/src/components/widget/Phases/DirectEntryImport/index.ts
  apps/widget/src/components/widget/Phases/Phase1/DirectEntryView/DirectEntryView.tsx
  apps/widget/src/components/widget/Phases/Phase1/DirectEntryView/index.ts
  apps/widget/src/components/widget/Phases/Phase1/ManualEntryView/index.ts
  apps/widget/src/components/widget/Phases/Phase1/Phase1.tsx
  apps/widget/src/components/widget/Widget.tsx
  packages/client/src/config/texts.config.ts
Labels: impler/web, impler/widget

#842 `feat:` Added event listener for on import job created
  apps/widget/src/components/widget/Phases/AutoImport/AutoImportPhase3/AutoImportPhase3.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/hooks/AutoImportPhase3/useAutoImportPhase3.tsx
  apps/widget/src/util/parent-window.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/client/src/types.ts
  packages/react/src/hooks/useImpler.ts
Labels: impler/web, impler/widget

#841 Feat/file download in manual entry of records
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/queue-manager/package.json
  apps/queue-manager/src/consumers/end-import.consumer.ts
  libs/services/src/name/file-name.service.ts
  libs/shared/src/types/upload/upload.types.ts
  pnpm-lock.yaml
Labels: impler/api, impler/queue-manager

#844 `Release` v0.26.1
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#847 `fix:` Handled undefined amplitude
  apps/widget/src/util/amplitude/index.ts
Labels: impler/widget

#848 `feat` optimizations
  apps/web/components/Integration/ContentBlock.tsx
  apps/web/components/Integration/IntegrationData.tsx
  apps/web/components/Integration/IntegrationModal.tsx
  apps/web/components/imports/forms/CreateImportForm.tsx
  apps/web/config/theme.config.ts
  apps/web/design-system/button/Button.styles.ts
  apps/web/design-system/button/Button.tsx
  docker/docker-compose.yml
Labels: impler/web

#849 `feat:` Updated deletejob, pausejob and resumejob to show proper error message
  apps/api/src/app/import-jobs/usecase/userjob-usecase/userjob-delete.usecase.ts
  apps/api/src/app/import-jobs/usecase/userjob-usecase/userjob-pause.usecase.ts
  apps/api/src/app/import-jobs/usecase/userjob-usecase/userjob.resume.usecsae.ts
Labels: impler/api

#851 `feat` team updates
  apps/api/src/app/team/usecase/accept-invitation/accept-invitation.usecase.ts
  apps/api/src/app/team/usecase/index.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/settings/AddCard/PaymentMethods/PaymentMethods.tsx
  apps/web/components/settings/AddCard/SelectCardModal.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/Alert/Alert.styles.tsx
  apps/web/hooks/usePlanDetails.tsx
  apps/web/hooks/useProject.tsx
  apps/web/hooks/useSubscribe.tsx
Labels: impler/api, impler/web

#853 `fix` Prevented unwanted output updates due to change in schema
  apps/api/src/app/template/usecases/update-template-columns/update-template-columns.usecase.ts
Labels: impler/api

#854 `feat` Showed delete and switch project buttons only when available
  apps/web/components/ManageProject/ManageProjectModal.tsx
Labels: impler/web

#855 `feat` team member optimizations
  apps/api/src/app/template/template.controller.ts
  apps/api/src/app/template/usecases/get-template-details/get-template-details.usecase.ts
  apps/web/components/ManageProject/ManageProjectModal.tsx
  apps/web/components/settings/SettingsTab.tsx
  apps/web/config/constants.config.ts
  apps/web/hooks/usePlanDetails.tsx
  apps/web/layouts/AppLayout/AppLayout.tsx
Labels: impler/api, impler/web

#856 `feat:` Closed project modal on creation
  apps/web/hooks/useProject.tsx
Labels: impler/web

#857 `feat:` Added details to plans modal
  apps/web/components/UpgradePlan/Plans/Plans.tsx
  apps/web/components/UpgradePlan/PlansModal.tsx
  apps/web/components/guide-point/TooltipLink.tsx
  apps/web/config/constants.config.ts
Labels: impler/web

#858 `Release` v0.27.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#861 `fix:` Review email
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
Labels: impler/api

#862 `fix:` Empty customization while signing up
  apps/api/src/app/template/usecases/update-template-columns/update-template-columns.usecase.ts
  apps/web/hooks/useProjectInvitationForm.tsx
Labels: impler/api, impler/web
