Repository implerhq/impler.io, pull requests merged in 2024-08, with the labels that each got.

#725 Feat/column description and guidpoints
  apps/api/package.json
  apps/api/src/app/column/commands/add-column.command.ts
  apps/api/src/app/column/commands/update-column.command.ts
  apps/api/src/app/column/dtos/column-request.dto.ts
  apps/api/src/app/column/dtos/column-response.dto.ts
  apps/api/src/app/project/usecases/create-project/create-project.usecase.ts
  apps/api/src/app/shared/services/file/file.service.ts
  apps/api/src/app/shared/types/file.types.ts
  apps/api/src/app/shared/usecases/save-sample-file/save-sample-file.usecase.ts
  apps/api/src/app/template/template.controller.ts
  apps/api/src/app/template/usecases/download-sample/download-sample.usecase.ts
  apps/api/src/app/template/usecases/duplicate-template/duplicate-template.usecase.ts
  apps/api/src/app/template/usecases/get-columns/get-columns.usecase.ts
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/web/assets/icons/GuidePoint.icon.tsx
  apps/web/components/TooltipLink/TooltipLink.tsx
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/imports/destination/Destination.tsx
  apps/web/components/imports/destination/DestinationItem/DestinationItem.tsx
  apps/web/components/imports/editor/Editor.tsx
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/validator/Validator.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/checkbox/Checkbox.tsx
  apps/web/design-system/custom-select/CustomSelect.tsx
  apps/web/hooks/useColumnsEditor.tsx
  apps/web/hooks/useSchema.tsx
  apps/widget/package.json
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/Common/Table/Table.tsx
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/types/utility.types.ts
  apps/widget/src/util/helpers/common.helpers.ts
  libs/dal/src/repositories/column/column.entity.ts
  libs/dal/src/repositories/column/column.schema.ts
  libs/shared/src/entities/Column/Column.interface.ts
  libs/shared/src/types/column/column.types.ts
  packages/react/src/types/index.ts
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/widget

#728 Feat/conditional feature access based on user plan and payment
  apps/api/src/app/common/common.controller.ts
  apps/api/src/app/common/usecases/get-import-config/get-import-config.usecase.ts
  apps/api/src/app/common/usecases/valid-request/valid-request.usecase.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/template/usecases/get-template-details/get-template-details.usecase.ts
  apps/api/src/migrations/update-mode/update-mode.migrations.ts
  apps/queue-manager/src/consumers/end-import.consumer.ts
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/web/config/constants.config.ts
  apps/web/hooks/useColumnsEditor.tsx
  apps/web/hooks/useImportDetails.tsx
  apps/web/hooks/usePlanDetails.tsx
  apps/web/hooks/useSchema.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/imports/[id].tsx
  apps/web/store/StoreWrapper.tsx
  apps/web/store/planmeta.store.context.tsx
  apps/web/types/global.d.ts
  apps/web/types/store.types.ts
  libs/dal/src/repositories/project/project.repository.ts
  libs/dal/src/repositories/project/project.schema.ts
  libs/dal/src/repositories/template/template.schema.ts
  libs/services/src/payment/payment.api.service.ts
  libs/shared/src/types/bilablemetriccode/billablemetriccode.types.ts
  libs/shared/src/types/index.ts
  packages/react/src/types/index.ts
Labels: impler/api, impler/web, impler/widget

#733 Release/0.23.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#736 Release/0.23.1
  apps/api/package.json
  apps/api/src/app/common/dtos/Schema.dto.ts
  apps/api/src/app/common/usecases/valid-request/valid-request.usecase.ts
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  packages/client/package.json
  packages/react/package.json
  packages/react/src/hooks/useImpler.ts
  packages/react/src/types/index.ts
  pnpm-lock.yaml
Labels: impler/api

#739 `fix:` Download sample with dynamic schema
  apps/api/src/app/shared/services/file/file.service.ts
  apps/api/src/app/template/dtos/download-sample-request.dto.ts
  apps/api/src/app/template/usecases/download-sample/download-sample.command.ts
  apps/widget/src/hooks/useSample.ts
Labels: impler/api, impler/widget

#729 Feat/user onboard survey form
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/auth/dtos/index.ts
  apps/api/src/app/auth/dtos/onboard-user.dto.ts
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/index.ts
  apps/api/src/app/auth/usecases/onboard-user/onboard-user.command.ts
  apps/api/src/app/auth/usecases/onboard-user/onboard-user.usecase.ts
  apps/api/src/app/auth/usecases/register-user/register-user.usecase.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/services/lead.service.ts
  apps/web/components/imports/forms/CreateImportForm.tsx
  apps/web/components/signin/CreateProjectForm.tsx
  apps/web/components/signin/OnboardUserForm.tsx
  apps/web/config/constants.config.ts
  apps/web/config/theme.config.ts
  apps/web/hooks/useImports.tsx
  apps/web/hooks/useOnboardUserProjectForm.tsx
  apps/web/layouts/OnboardLayout/OnboardLayout.styles.tsx
  apps/web/libs/api.ts
  apps/web/pages/auth/onboard.tsx
  apps/web/types/global.d.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  libs/shared/src/types/auth/auth.types.ts
  libs/shared/src/types/bilablemetric-code/billablemetriccode.types.ts
  libs/shared/src/types/index.ts
Labels: impler/api, impler/web

#740 `feat:` Renamed backend url for qqueue-manager to API_ROOT_URL from API_BASE_URL
  apps/queue-manager/src/.example.env
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
  apps/queue-manager/src/types/env.d.ts
  docker/docker-compose.yml
Labels: bug, impler/queue-manager

#742 fix: mark import as 'Completed' after data is sent to frontend
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
Labels: impler/api, impler/web

#744 `Fix` Widget closeWidget event not removing widget container
  libs/embed/src/embed.ts
Labels: impler/embed

#741 Feat/email otp verification
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/index.ts
  apps/api/src/app/auth/dtos/verify.dto.ts
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/index.ts
  apps/api/src/app/auth/usecases/login-user/login-user.usecase.ts
  apps/api/src/app/auth/usecases/register-user/register-user.usecase.ts
  apps/api/src/app/auth/usecases/request-forgot-password/request-forgot-pasword.usecase.ts
  apps/api/src/app/auth/usecases/resend-otp/resend-otp.usecase.ts
  apps/api/src/app/auth/usecases/reset-password/reset-password.usecase.ts
  apps/api/src/app/auth/usecases/verify/verify.command.ts
  apps/api/src/app/auth/usecases/verify/verify.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/exceptions/otp-verification.exception.ts
  apps/api/src/app/shared/helpers/common.helper.ts
  apps/queue-manager/src/consumers/send-bubble-data.consumer.ts
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
  apps/web/assets/icons/Redo.icon.tsx
  apps/web/config/constants.config.ts
  apps/web/hooks/auth/useResetPassword.tsx
  apps/web/hooks/auth/useSignin.tsx
  apps/web/hooks/auth/useSignup.tsx
  apps/web/hooks/auth/useVerify.tsx
  apps/web/libs/api.ts
  apps/web/pages/auth/signin.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/shared/helpers.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  libs/services/src/email/email.service.ts
  libs/shared/src/types/auth/auth.types.ts
  libs/shared/src/utils/defaults.ts
Labels: impler/api, impler/web

#745 Feat/widget text customisation
  apps/web/layouts/AppLayout/AppLayout.tsx
  apps/web/pages/imports/[id].tsx
  apps/widget/craco.config.js
  apps/widget/package.json
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/Common/Footer/AutoImportFooter.tsx
  apps/widget/src/components/Common/Footer/Footer.tsx
  apps/widget/src/components/Common/Heading/Heading.tsx
  apps/widget/src/components/Common/Layout/Layout.tsx
  apps/widget/src/components/Common/Provider/Provider.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase1/AutoImportPhase1.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase2/AutoImportPhase2.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase2/MappingHeading/MappingHeading.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase3/AutoImportPhase3.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase4/AutoImportPhase4.tsx
  apps/widget/src/components/widget/Phases/Phase0-1/Phase0-1.tsx
  apps/widget/src/components/widget/Phases/Phase1/Phase1.tsx
  apps/widget/src/components/widget/Phases/Phase1/SheetSelectModal/SheetSelectModal.tsx
  apps/widget/src/components/widget/Phases/Phase2/MappingHeading/MappingHeading.tsx
  apps/widget/src/components/widget/Phases/Phase2/Phase2.tsx
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/components/widget/Phases/Phase3/ReviewConfirmModal/ReviewConfirmModal.tsx
  apps/widget/src/components/widget/Phases/Phase4/Phase4.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/config/index.ts
  apps/widget/src/design-system/FileDropzone/FileDropzone.tsx
  apps/widget/src/design-system/UploadDropzone/UploadDropzone.tsx
  apps/widget/src/store/app.context.tsx
  apps/widget/src/types/store.types.ts
  apps/widget/src/util/helpers/common.helpers.ts
  apps/widget/src/util/notifier/Notifier.tsx
  libs/shared/src/config/index.ts
  libs/shared/src/config/texts.config.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/react/src/hooks/useImpler.ts
  packages/react/src/types/index.ts
  pnpm-lock.yaml
Labels: impler/web, impler/widget

#748 `feat` file size limit
  apps/api/src/app/shared/exceptions/file-size-limit.exception.ts
  apps/api/src/app/shared/services/file/file.service.ts
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/widget/src/components/widget/Phases/Phase1/Phase1.tsx
  apps/widget/src/design-system/UploadDropzone/UploadDropzone.tsx
  apps/widget/src/hooks/Phase1/usePhase1.ts
  libs/shared/src/config/texts.config.ts
Labels: impler/api, impler/web

#750 Feat/widget text customizations
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/index.ts
  apps/api/src/app/auth/dtos/update-user.dto.ts
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/index.ts
  apps/api/src/app/auth/usecases/login-user/login-user.usecase.ts
  apps/api/src/app/auth/usecases/register-user/register-user.usecase.ts
  apps/api/src/app/auth/usecases/resend-otp/resend-otp.usecase.ts
  apps/api/src/app/auth/usecases/update-user/update-user.command.ts
  apps/api/src/app/auth/usecases/update-user/update-user.usecase.ts
  apps/api/src/app/auth/usecases/verify/verify.usecase.ts
  apps/api/src/app/environment/usecases/regenerate-api-key/regenerate-api-key.usecase.ts
  apps/api/src/app/project/project.controller.ts
  apps/api/src/app/shared/constants.ts
  apps/web/assets/icons/Edit.icon.tsx
  apps/web/components/signin/OnboardUserForm.tsx
  apps/web/config/constants.config.ts
  apps/web/hooks/auth/useSignin.tsx
  apps/web/hooks/auth/useSignup.tsx
  apps/web/hooks/auth/useVerify.tsx
  apps/web/layouts/OnboardLayout/OnboardLayout.tsx
  apps/web/libs/api.ts
  apps/web/libs/notify.ts
  apps/web/middleware.ts
  apps/web/pages/_app.tsx
  apps/web/pages/auth/signup.tsx
  apps/web/pages/auth/verify.tsx
  apps/web/types/global.d.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/services/src/payment/payment.api.service.ts
  libs/shared/src/types/auth/auth.types.ts
Labels: impler/api, impler/web, impler/queue-manager

#753 `feat` optimization
  apps/web/pages/_app.tsx
  apps/widget/craco.config.js
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/Common/Footer/AutoImportFooter.tsx
  apps/widget/src/components/Common/Footer/Footer.tsx
  apps/widget/src/components/Common/Heading/Heading.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase2/MappingHeading/MappingHeading.tsx
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase3/AutoImportPhase3.tsx
  apps/widget/src/components/widget/Phases/Phase0-1/Phase0-1.tsx
  apps/widget/src/components/widget/Phases/Phase1/Phase1.tsx
  apps/widget/src/components/widget/Phases/Phase1/SheetSelectModal/SheetSelectModal.tsx
  apps/widget/src/components/widget/Phases/Phase2/MappingHeading/MappingHeading.tsx
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/components/widget/Phases/Phase3/ReviewConfirmModal/ReviewConfirmModal.tsx
  apps/widget/src/components/widget/Phases/Phase4/Phase4.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/design-system/FileDropzone/FileDropzone.tsx
  apps/widget/src/design-system/UploadDropzone/UploadDropzone.tsx
  apps/widget/src/hooks/Phase1/usePhase1.ts
  apps/widget/src/types/component.types.ts
  apps/widget/src/util/helpers/common.helpers.ts
  apps/widget/src/util/notifier/Notifier.tsx
  libs/shared/src/config/texts.config.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/react/src/index.ts
  packages/react/src/types/index.ts
Labels: impler/api, impler/web, impler/widget

#754 `fix:` Excel default data not accepting data with array
  apps/api/src/app/shared/services/file/file.service.ts
Labels: impler/api

#755 Release v0.24.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#758 `feat:` Added verify user migration
  apps/api/src/migrations/verify-user/verify-user.migration.ts
Labels: impler/api, impler/web

#759 `feat` widget optimization
  apps/api/src/app/auth/usecases/onboard-user/onboard-user.usecase.ts
  apps/api/src/app/auth/usecases/register-user/register-user.usecase.ts
  apps/api/src/app/auth/usecases/verify/verify.usecase.ts
  apps/api/src/app/shared/helpers/common.helper.ts
  apps/api/src/app/shared/services/lead.service.ts
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/Common/Provider/Provider.tsx
  apps/widget/src/hooks/useSample.ts
  apps/widget/src/types/component.types.ts
  apps/widget/src/types/store.types.ts
  apps/widget/src/util/helpers/common.helpers.ts
  libs/shared/src/config/texts.config.ts
  libs/shared/src/types/widget/widget.types.ts
  libs/shared/src/utils/helpers.ts
  packages/react/src/hooks/useImpler.ts
  packages/react/src/index.ts
  packages/react/src/types/index.ts
Labels: impler/api, impler/embed, impler/widget

#765 Feat/onboarding improvements count issue
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/onboard-user/onboard-user.usecase.ts
  apps/api/src/app/auth/usecases/verify/verify.usecase.ts
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/index.ts
  apps/api/src/app/review/usecases/update-import-count/update-import-count.command.ts
  apps/api/src/app/review/usecases/update-import-count/update-import-count.usecase.ts
  apps/api/src/app/shared/services/lead.service.ts
Labels: impler/api

#766 `fix` widget undefined calls
  apps/widget/src/components/widget/Phases/AutoImportPhases/hooks/AutoImportPhase2/useAutoImportPhase2.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/hooks/Phase2/usePhase2.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/hooks/useEventSource.ts
Labels: impler/widget

#767 Refactor/buy subscription and handle response
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/user/usecases/subscription/subscription.usecase.ts
  apps/api/src/app/user/user.controller.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/settings/AddCard/SelectCardModal.tsx
  apps/web/config/constants.config.ts
  apps/web/hooks/useSubscribe.tsx
  apps/web/libs/api.ts
  apps/web/types/global.d.ts
  libs/services/src/payment/payment.api.service.ts
Labels: impler/api, impler/web

#770 `feat:` Added missing keys
  apps/widget/src/components/widget/Phases/AutoImportPhases/AutoImportPhase2/AutoImportPhase2.tsx
  apps/widget/src/components/widget/Phases/Phase2/Phase2.tsx
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/design-system/MappingItem/MappingItem.stories.tsx
  apps/widget/src/design-system/MappingItem/MappingItem.tsx
  libs/shared/src/config/texts.config.ts
Labels: impler/widget

#773 `hotfix:` Revised delete records API from DELETE to POST
  apps/api/src/app/review/dtos/delete-records.dto.ts
  apps/api/src/app/review/dtos/index.ts
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/shared/validations/valid-indexes.validation.ts
  packages/client/src/api/api.service.ts
Labels: impler/api, impler/web, impler/widget
