Repository implerhq/impler.io, pull requests merged in 2024-07, with the labels that each got.

#631 fix: Conditionally rendering totalPrice only if it is not undefined
  apps/web/components/settings/Checkout/CheckoutDetails.tsx
Labels: impler/web

#632 fix: Capatilized the currency
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/components/settings/Checkout/CheckoutDetails.tsx
Labels: impler/web

#633 Fix/payment success and failed modal revision
  apps/web/components/ConfirmationModal/ConfirmationModal.tsx
  apps/web/components/ConfirmationModal/failed-animation-data.json
  apps/web/components/ConfirmationModal/index.ts
  apps/web/components/ConfirmationModal/success-animation-data.json
  apps/web/components/UpgradePlan/PlansModal.tsx
  apps/web/components/home/ImportCount/index.ts
  apps/web/components/home/PlanDetails/PlanDetails.tsx
  apps/web/config/constants.config.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: impler/web

#634 Preparations/v0.20.1
  apps/api/package.json
  apps/demo/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#637 feat: updated lock file
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/widget

#639 `feat:` Handled unique value edge case with deleted records
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
Labels: bug, citical, impler/api

#655 `fix` Publish workflow
  .github/workflows/publish-prod-packages.yml
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#657 `fix:` Over limit cell value issue
  apps/widget/src/components/Common/Table/HandsonTable.styles.min.css
Labels: bug, impler/web

#658 Quality - v0.20.3
  apps/api/package.json
  apps/demo/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#662 `feat:` Made keys opened by default and updated order
  apps/web/components/imports/Snippet.tsx
Labels: impler/api, impler/web

#664 feat: Disabled build and lint report workflow
  .github/workflows/build.yml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#665 `feat:` Updated web workflow to streamline image building
  .github/workflows/build-web.yml
Labels: impler/web

#667 feat: removed echo in pipeline
  .github/workflows/build-web.yml
Labels: impler/web

#668 `feat:` Tried skipping build externally to optimize web build
  apps/web/Dockerfile
Labels: impler/web

#670 `fix` column keys mapping
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/web/components/imports/forms/ColumnForm.tsx
Labels: impler/api, impler/web

#669 `fix:` Post message event not passing import Id
  libs/embed/src/embed.ts
Labels: impler/api, impler/web, impler/embed

#672 Release/v0.20.4
  apps/api/package.json
  apps/demo/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#671 Draft: optimized workflow files
  .github/workflows/build-api.yml
  .github/workflows/build-embed.yml
  .github/workflows/build-queuemanager.yml
  .github/workflows/build-web.yml
  .github/workflows/build-widget.yml
  .github/workflows/deploy-quality.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#676 `fix` stretching column issues
  apps/widget/src/components/Common/Table/HandsonTable.styles.min.css
  apps/widget/src/components/Common/Table/Table.tsx
Labels: impler/widget

#675 `fix:` Updated terminate import to drop collection only when it's exists
  apps/api/src/app/upload/usecases/terminate-upload/terminate-upload.usecase.ts
Labels: impler/api

#677 `fix:` Typo of embed in widget workflow
  .github/workflows/build-widget.yml
Labels: impler/widget

#678 `fix:` Typo in widget workflow
  .github/workflows/build-widget.yml
Labels: impler/widget

#680 `feat:` Streamlined colors
  apps/widget/src/design-system/Stepper/Stepper.tsx
Labels: impler/widget

#684 `feat` New Column UI
  apps/web/components/imports/destination/Destination.tsx
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/forms/DuplicateImportForm.tsx
  apps/web/components/imports/forms/UpdateColumnForm.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/web/config/constants.config.ts
  apps/web/design-system/checkbox/Checkbox.styles.tsx
  apps/web/design-system/checkbox/Checkbox.tsx
  apps/web/design-system/multi-select/MultiSelect.tsx
  apps/web/design-system/native-select/NativeSelect.stories.tsx
  apps/web/design-system/native-select/NativeSelect.tsx
  apps/web/design-system/native-select/index.ts
  apps/web/design-system/select/index.ts
  apps/web/hooks/useSchema.tsx
  apps/web/layouts/AppLayout/AppLayout.tsx
  apps/web/layouts/OnboardLayout/OnboardLayout.tsx
Labels: impler/api, impler/web

#685 `feat` custom delimeter support
  apps/api/src/app/column/commands/add-column.command.ts
  apps/api/src/app/column/commands/update-column.command.ts
  apps/api/src/app/column/dtos/column-request.dto.ts
  apps/api/src/app/column/dtos/column-response.dto.ts
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/src/app/shared/services/file/file.service.ts
  apps/api/src/app/shared/types/file.types.ts
  apps/api/src/app/shared/usecases/save-sample-file/save-sample-file.usecase.ts
  apps/api/src/app/template/template.controller.ts
  apps/api/src/app/template/usecases/get-columns/get-columns.usecase.ts
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/api/src/config/Excel Multi Select Template.xlsm
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/config/constants.config.ts
  apps/web/pages/_app.tsx
  apps/widget/src/hooks/Phase3/MultiSelectEditor.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/types/utility.types.ts
  libs/dal/src/repositories/column/column.entity.ts
  libs/dal/src/repositories/column/column.schema.ts
  libs/shared/src/entities/Column/Column.interface.ts
  libs/shared/src/types/column/column.types.ts
Labels: impler/api, impler/web, impler/widget

#686 `feat` imported data on frontend
  apps/api/src/app/mapping/mapping.controller.ts
  apps/api/src/app/review/review.controller.ts
  apps/api/src/app/review/usecases/confirm-review/confirm-review.command.ts
  apps/api/src/app/review/usecases/confirm-review/confirm-review.usecase.ts
  apps/api/src/app/review/usecases/index.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/api/src/app/shared/usecases/get-upload/get-upload.command.ts
  apps/api/src/app/template/usecases/update-customization/update-customization.usecase.ts
  apps/api/src/app/upload/upload.controller.ts
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
  apps/queue-manager/src/types/file-processing.types.ts
  apps/web/components/imports/destination/Destination.tsx
  apps/web/components/imports/destination/DestinationItem/DestinationItem.tsx
  apps/web/components/imports/editor/Editor.tsx
  apps/web/hooks/useDestination.tsx
  apps/web/hooks/useEditor.tsx
  libs/shared/src/types/destination/destination.types.ts
  libs/shared/src/types/upload/upload.types.ts
  packages/react/src/components/button/Button.types.ts
  packages/react/src/hooks/useImpler.ts
  packages/react/src/types/index.ts
Labels: impler/api, impler/web, impler/widget

#687 `feat:` Showed delimiter on multi-select dropdown only
  apps/web/components/imports/forms/ColumnForm.tsx
Labels: impler/web

#688 `fix:` Updated review to consider default delimiter if not available
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
Labels: impler/api, impler/widget

#689 `feat:` Added unique column exception
  apps/api/src/app/column/usecases/add-column/add-column.usecase.ts
  apps/api/src/app/column/usecases/update-column/update-column.usecase.ts
  apps/api/src/app/common/usecases/valid-request/valid-request.usecase.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/exceptions/unique-column.exception.ts
  apps/api/src/app/template/usecases/update-template-columns/update-template-columns.usecase.ts
  apps/web/config/constants.config.ts
  apps/web/hooks/useSchema.tsx
  apps/web/libs/notify.ts
Labels: impler/api, impler/web

#690 `fix` imported data count
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/hooks/Phase3/usePhase3.tsx
  apps/widget/src/util/parent-window.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/client/src/api/api.service.ts
  packages/react/src/hooks/useImpler.ts
  packages/react/src/types/index.ts
Labels: impler/web, impler/widget

#691 v0.21.0
  apps/api/package.json
  apps/demo/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#693 `feat:` Modified checks for checking unique key in columns
  apps/api/src/app/column/usecases/add-column/add-column.usecase.ts
  apps/api/src/app/column/usecases/update-column/update-column.usecase.ts
Labels: impler/api

#694 `feat:` Added delimiter in json editor
  apps/web/hooks/useColumnsEditor.tsx
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#695 `feat:` Added support for common delimiter
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  apps/api/src/app/review/usecases/do-review/re-review-data.usecase.ts
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
  apps/api/src/app/shared/services/file/file.service.ts
  apps/api/src/app/shared/usecases/save-sample-file/save-sample-file.usecase.ts
  apps/api/src/app/upload/usecases/make-upload-entry/make-upload-entry.usecase.ts
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
  apps/widget/src/hooks/Phase3/usePhase3.tsx
Labels: impler/api, impler/web, impler/widget

#696 `feat:` Removed survey
  apps/web/.example.env
  apps/web/components/common/Support.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/types/global.d.ts
  pnpm-lock.yaml
Labels: impler/web

#701 `Feat` Column & Review Improvements and Bug fixes
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/web/components/imports/forms/CreateImportForm.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/widget/src/components/Common/Table/Table.tsx
  apps/widget/src/components/widget/Phases/Phase3/Phase3.tsx
Labels: impler/api, impler/web

#702 `feat:` Added name to column actions column
  apps/web/components/imports/schema/ColumnsTable.tsx
Labels: impler/web

#703 `feat` Required in multi select & streamline column add form
  apps/api/src/app/review/usecases/do-review/base-review.usecase.ts
  apps/web/components/imports/forms/ColumnForm.tsx
  apps/web/components/imports/schema/ColumnsTable.tsx
  apps/web/hooks/useSchema.tsx
Labels: impler/api, impler/web

#704 v0.21.1
  apps/api/package.json
  apps/demo/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#707 `feat:` Excempted NX Cloud in Github Workflow
  apps/web/Dockerfile
Labels: impler/web

#713 `feat:` Added close widget method
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/types/component.types.ts
  libs/embed/src/embed.ts
  libs/embed/src/shared/eventTypes.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/react/src/hooks/useImpler.ts
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#714 `feat:` Added defaultValue as null for columns
  apps/api/src/app/column/usecases/add-column/add-column.usecase.ts
  apps/api/src/app/shared/services/bubble-io.service.ts
  libs/shared/src/utils/defaults.ts
Labels: impler/api

#715 `Hotfix` data seeding
  apps/api/src/app/column/usecases/update-column/update-column.usecase.ts
  apps/api/src/app/shared/services/file/file.service.ts
Labels: impler/api, impler/web, impler/widget

#716 v0.22.0
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/.env.example
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget
