Repository implerhq/impler.io, pull requests merged in 2025-05, with the labels that each got.

#962 fix: build
  apps/web/components/ConfirmationModal/ConfirmationModal.tsx
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#963 feat: error response log for error tracking
  apps/queue-manager/src/consumers/base.consumer.ts
Labels: impler/queue-manager

#965 feat: Added migration script
  apps/api/src/migrations/resend-webhook-data/resend-webhook-data.migration.ts
Labels: impler/api, impler/queue-manager

#967 feat: Removed the IsGreaterThan validation in Dto for max value
  apps/api/src/app/column/dtos/column-request.dto.ts
Labels: impler/api

#960 V0.30.0
  .github/workflows/test-build.yml
  apps/api/package.json
  apps/api/src/app/column/dtos/column-request.dto.ts
  apps/api/src/migrations/resend-webhook-data/resend-webhook-data.migration.ts
  apps/queue-manager/package.json
  apps/queue-manager/src/consumers/base.consumer.ts
  apps/queue-manager/src/consumers/send-import-job-data.consumer.ts
  apps/queue-manager/src/consumers/send-webhook-data.consumer.ts
  apps/web/components/ConfirmationModal/ConfirmationModal.tsx
  apps/web/package.json
  apps/widget/package.json
  apps/widget/src/components/Common/Container/Container.tsx
  docker/docker-compose.yml
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  libs/shared/src/types/upload/upload.types.ts
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/queue-manager, impler/widget

#973 Removed circular reference type
  apps/api/src/app/review/usecases/do-review/do-review.usecase.ts
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#975 feat: Added sticky button of the Generate Template
  apps/widget/src/components/widget/Phases/ImageImport/ImageUpload.Styles.tsx
  apps/widget/src/components/widget/Phases/ImageImport/ImageUpload.tsx
Labels: impler/web, impler/widget
