Repository implerhq/impler.io, pull requests merged in 2025-03, with the labels that each got.

#944 fix: bubble data-sending second time
  apps/queue-manager/src/consumers/send-bubble-data.consumer.ts
Labels: impler/queue-manager

#946 feat: Added loader in Project Onboard Form and passed it to the submi…
  apps/web/pages/auth/onboarding/OnboardProjectForm.tsx
Labels: impler/web

#941 Feat/widget customizations
  apps/web/config/theme.config.ts
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/Common/Provider/Provider.tsx
  apps/widget/src/config/colors.config.ts
  apps/widget/src/store/app.context.tsx
  apps/widget/src/types/store.types.ts
  libs/shared/src/types/widget/widget.types.ts
  packages/client/src/config/appearance.config.ts
  packages/client/src/config/index.ts
  packages/client/src/config/texts.config.ts
  packages/client/src/types.ts
  packages/react/src/hooks/useImpler.ts
Labels: impler/web, impler/widget

#947 feat: Updated docker-compose images version
  apps/api/package.json
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
Labels: impler/api, impler/web, impler/widget

#950 feat: Added changes for texts and added existing dimmed border for Table
  apps/web/pages/auth/onboarding/ImportColumnsSection.tsx
  apps/widget/src/components/Common/Container/Container.tsx
Labels: impler/web, impler/widget

#951 `fix` Transparant background color
  .github/workflows/test-build.yml
  apps/widget/package.json
  apps/widget/src/components/Common/Container/Container.tsx
  pnpm-lock.yaml
Labels: impler/widget
