Repository implerhq/impler.io, pull requests merged in 2025-06, with the labels that each got.

#977 feat: Changed the Images for Impler logo
  apps/web/assets/images/full-logo-dark.png
  apps/web/assets/images/full-logo-light.png
  apps/web/assets/images/logo-dark.png
Labels: impler/web

#978 Added Images for pre-beta preparations
  apps/web/assets/images/full-logo-dark.png
  apps/web/assets/images/full-logo-light.png
  apps/web/assets/images/logo-dark.png
  apps/web/components/signin/index.tsx
  apps/web/pages/auth/reset/[token].tsx
  apps/web/pages/auth/reset/request.tsx
  apps/web/pages/auth/signup.tsx
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#982 Merging Next --> Main
  apps/api/src/app/review/usecases/start-process/start-process.usecase.ts
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#988 Feat/optimized sax based rssxml parsing and websocket progress tracking
  apps/api/package.json
  apps/api/src/app/auto-import-jobs-schedular/usecase/auto-import-jobs-schedular.ts
  apps/api/src/app/import-jobs/dtos/create-userjob.dto.ts
  apps/api/src/app/import-jobs/import-jobs.controller.ts
  apps/api/src/app/import-jobs/usecase/create-userjob/create-userjob.command.ts
  apps/api/src/app/import-jobs/usecase/create-userjob/create-userjob.usecase.ts
  apps/api/src/app/import-jobs/usecase/index.ts
  apps/api/src/app/shared/services/index.ts
  apps/api/src/app/shared/services/rss.service.ts
  apps/api/src/app/shared/services/websocket-service/index.ts
  apps/api/src/app/shared/services/websocket-service/websocket.service.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/shared/types/websockets.types.ts
  apps/queue-manager/src/consumers/base.consumer.ts
  apps/queue-manager/src/consumers/get-import-job-data.consumer.ts
  apps/queue-manager/src/consumers/send-import-job-data.consumer.ts
  apps/web/pages/imports/[id].tsx
  apps/widget/package.json
  apps/widget/src/components/Common/Container/Container.tsx
  apps/widget/src/components/widget/Phases/AutoImport/AutoImportPhase1/AutoImportPhase1.tsx
  apps/widget/src/components/widget/Phases/AutoImport/AutoImportPhase1/ProgressRing.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/config/app.config.ts
  apps/widget/src/hooks/AutoImportPhase1/useAutoImportPhase1.tsx
  apps/widget/src/hooks/AutoImportPhase1/useWebSocketProgress.ts
  apps/widget/src/types/component.types.ts
  apps/widget/src/util/api/api.service.ts
  apps/widget/src/util/helpers/common.helpers.ts
  libs/services/package.json
  libs/services/src/index.ts
  libs/services/src/rss-xml/index.ts
  libs/services/src/rss-xml/rssxml.service.ts
  libs/shared/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/queue-manager, impler/widget

#993 feat: lock file updates
  pnpm-lock.yaml
Labels: impler/api, impler/queue-manager, impler/widget

#989 Azure blob storage support
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/shared/shared.module.ts
  apps/queue-manager/src/.env.development
  apps/queue-manager/src/.env.production
  apps/queue-manager/src/.env.test
  apps/queue-manager/src/.example.env
  apps/queue-manager/src/config/env-validator.ts
  apps/queue-manager/src/helpers/services.helper.ts
  docker/.env.example
  docker/docker-compose.yml
  libs/services/package.json
  libs/services/src/storage/storage.service.ts
  libs/shared/src/config/api.config.ts
  pnpm-lock.yaml
Labels: impler/api, impler/queue-manager

#996 Release/v1.0.0
  apps/api/package.json
  apps/api/src/app/auto-import-jobs-schedular/usecase/auto-import-jobs-schedular.ts
  apps/queue-manager/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/.env.example
  docker/docker-compose.yml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/services/package.json
  libs/shared/package.json
  package.json
  packages/angular/package.json
  packages/client/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: impler/api, impler/web, impler/embed, impler/queue-manager, impler/widget

#1000 feat: pnpm lock file updates
  pnpm-lock.yaml
Labels: impler/api

#1003 feat: Optimized Socket Connection and Too many socket connection prev…
  apps/api/src/app/shared/services/websocket-service/websocket.service.ts
  apps/widget/src/components/widget/Phases/AutoImport/AutoImportPhase1/AutoImportPhase1.tsx
  apps/widget/src/components/widget/Widget.tsx
  apps/widget/src/hooks/AutoImportPhase1/useAutoImportPhase1.tsx
  apps/widget/src/hooks/AutoImportPhase1/useWebSocketProgress.ts
  packages/client/src/config/texts.config.ts
  pnpm-lock.yaml
Labels: impler/api, impler/widget
